#topo{
    height: 150px;
    background-color: cadetblue;
}
#logo{
    height: 100px;
    width: 400px;
    margin: auto;
    background-color:cornflowerblue;
    margin-top: 25px;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
}
#rodape{
    height: 150px;
    background-color: cadetblue;
}
.subMenu{
    height: 50px;
    line-height: 50px;
    margin: 10px 0px;
    text-align: center;
    background-color: coral;
    font-size: 20px;
    color: white;
    transition: 1s;
    border-radius: 10px;
}
.subMenu:hover{
    background-color: brown;
}
a{
    text-decoration: none;
}
#card:hover{
    transform: scale(1.025);
}
.usuario{
    min-height: 50px;
    margin: 10px 0px;
    background-color: coral;
    font-size: 20px;
    color: white;
    border-radius: 10px;
}